<section id="main">
  <a class="btn btn-primary" href="./#/drivers"><i class="fa fa-arrow-left"></i> Back to drivers list</a>
  <br><br>
  <nav id="secondary" class="main-nav">
    <div class="media">
      <span class="media-left">
        <img ng-show="driver" class="img-circle img-thumbnail" src="img/drivers/{{driver.Driver.driverId}}.png" />
      </span>
      
      <div class="media-body">
        <h4 class="media-heading"><img ng-show="driver" src="img/flags/{{driver.Driver.nationality}}.png"/> {{driver.Driver.givenName}} {{driver.Driver.familyName}}</h4>
        <div class="driver-status">
          <table>
            <tr>
              <td><b>Country &nbsp;</b></td>
              <td>: {{driver.Driver.nationality}}</td>
            </tr>
            <tr>
              <td><b>Team</b></td>
              <td>: {{driver.Constructors[0].name}}</td>
            </tr>
            <tr>
              <td><b>Birth</b></td>
              <td>: {{driver.Driver.dateOfBirth}}</td>
            </tr>
          </table>
          <a href="{{driver.Driver.url}}" target="_blank">Biography</a>
        </div>
      </div>
    </div>
  </nav>
  <hr>

  <div class="main-content">
    <table class="result-table table table-condensed table-striped">
      <thead>
        <tr><th colspan="5">Formula 1 2013 Results</th></tr>
      </thead>
      <tbody>
        <tr>
          <td>Round</td> <td>Grand Prix</td> <td>Team</td> <td>Grid</td> <td>Race</td>
        </tr>
        <tr ng-repeat="race in races">
          <td>{{race.round}}</td>
          <td><img ng-src="img/flags/{{race.Circuit.Location.country}}.png"/> {{race.raceName}}</td>
          <td>{{race.Results[0].Constructor.name}}</td>
          <td>{{race.Results[0].grid}}</td>
          <td>{{race.Results[0].position}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</section>